.logo {
    width: 45%;
  }
  
  .navbar {
    display: flex;
  }
  
  .about-nav-background {
    background-color: rgb(246, 245, 245) !important;
  }
  
  #about-headline-container {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  