.logo {
  width: 45%;
}

.navbar {
  display: flex;
}

.nav-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  height: 72px;
  padding-left: 15%;
}

.about-container {
  padding-left: 5%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #242323;
}

.hamburger {
  display: block;
  cursor: pointer;
  z-index: 1;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  background-color: #fff;
  transform: translateY(8px) rotate(48deg);
}

.hamburger.active .bar:nth-child(3) {
  background-color: #fff;
  transform: translateY(-8px) rotate(-48deg);
}

.nav-menu {
  position: fixed;
  left: -150%;
  top: -20px;
  padding-top: 15%;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background: #3c3a39;
  mix-blend-mode: normal;
  z-index: 1;
}

.nav-item {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.nav-menu.active {
  left: 0;
  padding-top: 40%;
}

.about-nav-background {
  background-color: rgb(246, 245, 245) !important;
}

.about-headline-container {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about-headline-container div {
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.about-headline-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  max-width: 30rem;
}

.about-headline-container .about-headline-body {
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border: 1px solid rgba(121, 125, 136, 0.2);
  box-shadow: 0 2px 7px 0 #dee1e2;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  color: rgb(74, 74, 74);
}

.about-headline-body + p {
  text-align: center;
  margin: 0 2rem;
  padding: 2rem 1rem;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
}

.contact-us {
  color: rgb(39, 42, 49);
  font-weight: 800;
}

#about-global-DF {
  min-height: 400px;
  padding: 0 1rem;
}

.past-global-drum-fest {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 1rem 1rem;
  border-top: 1px solid rgba(121, 125, 136, 0.2);
}

.past-global-drum-fest p {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
}

.past-image-courosal {
  width: 100%;
  overflow: hidden;
  background: rgba(218, 52, 52, 0.561);
  border: 1px solid rgba(121, 125, 136, 0.2);
  padding: 1rem;
  margin: 1rem;
  position: relative;
}

.text-on-image {
  position: absolute;
  bottom: 60px;
  right: 100px;
  color: white;
  padding-left: 20px;
}

.text-on-image h1 {
  position: absolute;
  bottom: 105px;
  right: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-on-image p {
  bottom: 20px;
  right: 20px;
  color: white;
  padding-bottom: 50%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.past-image-courosal img {
  width: 100%;
  background: red;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.4;
}

.past-image-courosal .courosal-image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.past-image-courosal .courosal-image-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(218, 52, 52, 0.561);
  color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s ease;
}

.courosal-image-card:hover .courosal-image-fade {
  bottom: 100%;
  height: 0;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(39, 42, 49);
  padding: 1rem;
}

.footer h3 {
  color: #d3d3d3;
}

.Past-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-footer .brand-support {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.about-footer .brand-support img {
  width: 20%;
  padding: 0.5rem 0.5rem;
}

.about-brand {
  padding: 1.8rem 10%;
}

.about-brand h3 {
  text-align: center;
}

.about-brand p {
  font-size: 12px;
  text-align: center;
}

.about-brand .brand-logo {
  display: flex;
  justify-content: center;
  padding: 3.5rem 0;
}

@media screen and (min-width: 768px) {
  .about-headline-container {
    padding: 5rem 10%;
    background-color: rgb(246, 245, 245);
  }

  .about-headline-container div {
    padding: 1rem;
    font-size: 18px;
    font-weight: 500;
  }

  .nav-main {
    display: none;
  }

  .about-headline-container h1 {
    font-size: 3rem;
    line-height: 4.3rem;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
  }

  .about-headline-container .about-headline-body {
    width: 60%;
    padding: 1.6rem 2.5rem;
  }

  .Past-events {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .text-on-image {
    position: absolute;
    bottom: 60px;
    color: white;
    padding-left: 20px;
  }

  .text-on-image h1 {
    position: absolute;
    bottom: 250px;
    right: 150px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-on-image p {
    bottom: 20px;
    right: 300px;
    color: white;
    padding-bottom: 120%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
  }

  .past-global-drum-fest {
    padding: 2rem 10%;
  }

  .past-global-drum-fest .past-fest-header {
    font-size: 1.5rem;
    color: rgb(39, 42, 49);
  }

  .past-global-drum-fest > p {
    font-size: 1.2rem;
    color: rgb(39, 42, 49);
  }

  .past-global-drum-fest .past-image-courosal {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .past-global-drum-fest .past-image-courosal .courosal-image-card {
    flex-basis: 47%;
  }

  .about-footer .footer {
    display: none;
  }

  .about-footer .copyright {
    background-color: rgb(39, 42, 49);
  }

  .about-footer .copyright h6 {
    color: #d3d3d3;
  }
}
