* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .cocogoose-font {
    font-family: "cocogoose", sans-serif;
  }
  
  .font {
    font-family: "Inter", sans-serif;
  }
  
  .purple {
    color: purple;
  }
  
  .black-like {
    color: rgb(39, 42, 49);
  }
  
  .graylight {
    color: #d3d3d3;
  }
  .close-icon-wrapper {
    position: absolute;
    top: 35px;
    left: 86%;
    list-style: none;
    cursor: pointer;
    filter: invert(37%) sepia(77%) saturate(2442%) hue-rotate(340deg) brightness(101%) contrast(85%);
    transition: 0.5s;
  }
  
  .display-b {
    display: block !important;
  }
  
  #nav-container .nav-socials-top {
    display: none;
  }
  
  #nav-container .logo-container {
    display: none;
  }

  #nav-container .hamburger {
    width: 32px;
  }
  
  .navbar {
    display: flex;
    height: 4.5rem;
    padding: 1.5rem;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
  }
  
  .nav-join-btn {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .navlinks-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      background-color: rgb(39, 42, 49);
      height: 100%;
      overflow-x: hidden;
      width: 0;
      transition: 0.5s;
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style: none;
      padding-top: 2rem;
    }
  }
  
  .navlinks-wrapper li {
    padding: 0.7rem;
  }
  
  .navlinks-wrapper li a {
    text-decoration: none;
  }

  @media screen and (max-width: 768px) {
    .navlinks-wrapper li a {
      font-size: 1.2rem;
      color: purple;
    }
  }
  
  #headline {
    padding: 2rem 1rem 3.5rem;
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 10%;
    position: relative;
  }

  #headline .headline-main-text {
    padding-top: 1rem;
    font-size: 28px;
    font-weight: 300;
    line-height: 34px;
    color: purple;
  }

  #headline .home-headline-body {
    margin: 1.2rem 0;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    padding: 0 24px;
    border: 2px solid #fff;
    background-color: #fff;
  }
  
  #headline .venue {
    font-size: 14px;
  }

  .programs {
    padding: 1.6rem 1.5rem;
    background-color: rgb(39, 42, 49);
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .programs .program-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .programs .join-btn {
    padding: 20px;
    background-color: grey;
    color: #fff;
    margin: 2rem 0.9rem auto;
    width: max-content;
    border: none;
    border-radius: 1px;
    opacity: 1;
    transition: 0.3s;
    z-index: 2;
  }

  .programs .join-btn:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s ease;
    z-index: 2;
  }

  .artistBioContent {
    background-color: rgba(11, 12, 15, 0.81);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  .artist-content-image {
    width: 60%;
    height: 50%;
    border: 1px solid red;
    overflow: hidden;
  }
  
  .artist-content-image img {
    width: 100%;
  }

  .performing-artists li:hover .overlay {
    transform: scale(1.5);
  }
  
  .more-btn {
    margin: 12px;
    padding: 12px;
    width: 100%;
    background-color: red;
    border: 1px solid rgba(78, 81, 91, 0.5);
    font-size: 0.75rem;
    font-weight: 600;
    color: #fff
  }
  
  .more-btn i {
    color: red;
  }

  .thin-line {
    width: 2rem;
    border-bottom: 2px solid purple;
    margin: 1rem auto;
  }

  .performing-artists-section {
    min-height: max-content;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem 1.5rem;
    height: min-content;
    color: rgb(39, 42, 49);
  }

  .performing-artists {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 10px;
  }

  @media screen and (min-width: 768px) {
    .performing-artists {
      padding: 1rem 10%;
      grid-template-columns: repeat(2, minmax(303px, 1fr));
    }
  }
  
  .performing-artists .artist-card {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  @media screen and (max-width: 500px) {
    .performing-artists .artist-card {
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }
  }

  .artist-image {
    width: 160px;
    height: 7rem;
    position: relative;
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
  }

  @media screen and (max-width: 500px) {
    .artist-image {
      width: 130px;
      height: 6rem;
    }
  }
  
  .artist-image img {
    width: 140px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @media screen and (max-width: 500px) {
    .artist-image img {
      width: 120px;
    }
  }
  
  .artist-bio {
    padding: 0.6rem;
  }
  
  .artist-bio .thin-line {
    margin: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
  }
  
  .artist-bio h4 {
    margin-top: 5px;
  }
  
  .artist-bio p {
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    color: red;
  }

  .program-list {
    list-style: none;
    z-index: 2;
  }
  
  .program-list li {
    background: rgba(78, 81, 91, 0.5);
    border-radius: 3px;
    margin-top: 0.5rem;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    transition: 0.8s ease-in-out;
  }
  
  .program-list li:hover {
    border: 1px solid #fff;
  }
  
  .program-list li i {
    min-width: 45px;
    height: 45px;
    background-size: 95%;
    background-repeat: no-repeat;
  }
  
  .program-list li h5 {
    font-family: "cocogoose", sans-serif;
    font-weight: 200;
    color: goldenrod;
    padding: 0 0.75rem;
    min-width: 100px;
  }
  
  .program-list li p {
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
  }
  
  .program-list .shed-icon {
    background-image: url(../icons/shed-icon.png);
  }
  
  .program-list .master-class {
    background-image: url(../icons/master-classs.jpg);
  }
  
  .program-list .Meet-up-icon {
    background-image: url(../icons/Meet-up-icon.gif);
  }

  .artist-bio p:nth-child(4) {
    color: rgb(39, 42, 49);
  }

  .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    padding: 1rem 0;
    width: 100%;
  }
  
  .copyright img {
    width: 80px;
  }
  
  .copyright h6 {
    padding: 1rem;
    font-size: 1rem;
    color: rgb(39, 42, 49);
    max-width: 230px;
    line-height: 15px;
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: greenyellow;
    padding: 1rem;
  }
  
  .footer h4 {
    color: red;
  }
  
  .home-footer .brand-support {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .home-footer .brand-support img {
    min-height: 46px;
    flex: 1 0 auto;
    padding: 0.5rem 0.5rem;
  }

  @media (min-width: 768px) {
    #nav-container .nav-socials-top {
      height: 33px;
      background-color: rgb(39, 42, 49);
      display: flex;
      justify-content: flex-end;
      padding: 0 10%;
    }
  
    #nav-container .navbar {
      padding: 0 10%;
      background-color: #fff;
      box-shadow: 0 5px 5px -4px #aaa;
    }

    #nav-container .logo-container {
      display: block;
      flex-grow: 2;
    }
  
    #nav-container .logo {
      width: 120px;
    }
  
    #nav-container .hamburger-btn {
      display: none;
    }

    .nav-socials {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
    }
  
    .nav-socials li {
      padding-left: 1rem;
    }
  
    .nav-socials li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
    }

    .navlinks-wrapper {
      display: flex;
      list-style: none;
    }
  
    .navlinks-wrapper li {
      padding: 1rem 1.5rem;
    }
  
    .navlinks-wrapper li a {
      font-weight: bold;
      color: rgb(39, 42, 49);
    }
  
    .navlinks-wrapper li:hover a {
      color: red;
    }

    .nav-join-btn {
      display: block;
      padding: 12px 0.5rem;
      border: 4px solid green;
      color: red;
      background-color: #fff;
      min-width: max-content;
      transition: 0.6s ease;
    }
  
    .nav-join-btn:hover {
      background-color: purple;
      color: #fff;
      cursor: pointer;
      border: none;
    }
  


